<%- include('partials/header') -%>
<h1 id='wel'>Welcome</h1>

<div class='my-button'>
    <h3>Click the button below to be redirected to the discord log in</h3>
    <form action="/auth">
        <button class="button is-primary is-rounded is-large is-fullwidth custom-button"
        type='submit'>Log In</button>
    </form>
</div>    
<%- include('partials/footer') -%>